/* Importing the font */
@font-face {
    font-family: 'Copenhagen Grotesk Nova';
    src: url('fonts/copenhagen.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/copenhagen.woff') format('woff'); /* Legacy Browsers */
    font-weight: normal;
    font-style: normal;
}

/* Keyframe animation for zoom-in effect */
@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        font-size: 1rem;
        opacity: 0;
    }
    100% {
        transform: scale(1);
        font-size: 1.5rem;
        opacity: 1;
    }
}

@keyframes zoombuttonIn {
    0% {
        transform: scale(1);
        opacity: 0;
        font-size: 1.3rem;
    }
    100% {
        transform: scale(1);
        font-size: 1.3rem;
        opacity: 1;
    }
}

.zoom-in {
    font-size: 1rem; /* initial font size */
    transform: scale(0.5); /* initial scale */
    opacity: 0; /* make the text invisible */
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1); /* animation duration and easing */
}

.zoom-in.loaded {
    transform: scale(1); /* final scale */
    font-size: 1.5rem; /* final font size */
    opacity: 1; /* make the text visible */
}

.bigger-text {
    font-size: 1.5em; /* Adjust the font size as needed */
}


* {
    user-select: none;
}

/* Set initial font size for paragraphs */
.section-content p {
    font-size: 0.8em; /* Set initial smaller font size */
    transition: font-size 0.5s ease; /* Apply smooth transition */
}

/* Add a class to control font size transition */
.paragraph-visible {
    font-size: 1em; /* Set original font size */
}

/* Setting the background image */
body {
    margin: 0;
    font-family: 'Copenhagen Grotesk Nova', sans-serif;
    font-size: 100%;
    /*background-image: url('images/bg.png'); /* Replace 'bg.png' with your image path */ 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; /* Ensure relative positioning for absolute children */
    
    
    
   
      
}

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background-color: #f5f5f5; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the thumb */
}

/* Keyframe animation for fading in and coming from the top */
@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px); /* Start above its final position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move to its final position */
    }
}

/* Define the animation */
.custom-titles {
    padding-bottom: 10px;
}

/* Apply the keyframe animation to the titles */
.title-fade-in {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}

.text-scale {
    font-size: 0.8em; /* Initially small font size */
    transition: font-size 0.5s ease; /* Apply smooth transition */
}

.text-scale:hover {
    font-size: 1em; /* Enlarge font size on hover */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
}

.navbar {
    transition: transform 0.3s ease; /* Add transition for smooth sliding */
}
.content-wrapper {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%; /* Counteracts the reduction in width due to scaling */
    height: 125%; /* Counteracts the reduction in height due to scaling */
    overflow-x: hidden;
  }
.navbar.hidden {
    transform: translateY(-100%); /* Slide up to hide the navbar */
}
/* Add transition for smooth sliding */
.navbar {
    transition: transform 0.3s ease; /* Add transition for smooth sliding */
}

/* Define styles for hidden navbar */
.navbar.navbar-hidden {
    transform: translateY(-100%); /* Slide up to hide the navbar */
}
/* Adding a semi-transparent layer */
/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to change opacity
    z-index: 1; Ensure the overlay appears above the background 
}*/

.bg-white,
.bg-dark {
    min-height: 70vh; /* Adjust the minimum height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-bg-dark {
    background-color: #222222; /* Change the background color to the desired color */
    min-height: 70vh; /* Adjust the minimum height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ensuring content appears above the overlay */
.container {
    position: relative;
    z-index: 2; /* Ensure content appears above the overlay */
}

/* Navbar styles */
.navbar {
    position: fixed; /* Ensure navbar is above the overlay */
    z-index: 3; /* Ensure navbar appears above the overlay */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a bottom border to the navbar */
    width: 100%;
    margin-bottom: 100px;
}

.navbar-brand img {
    max-height: 40px; /* Adjust the max height of the logo */
}

/* Header styles */
.header {
    text-align: center; /* Center-align header content */
    padding-top: 80px; /* Adjust the value as needed */
}

header .container {
    padding-top: 60px; /* Adjust the value as needed */
}

.header h1 {
    font-size: 2.5em; /* Increase font size of the header */
    margin-bottom: 20px; /* Add some bottom margin to the header */
}

.header p {
    font-size: 1.5em; /* Increase font size of the paragraph */
}

/* Footer styles */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #333; /* Change background color of the footer */
    color: white; /* Change text color of the footer */
    padding: 20px; /* Add some padding to the footer */
    text-align: center; /* Center-align footer content */
    z-index: 9999; /* Ensure footer appears above other content */
}

.section-content p {
    margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
}

.footer p {
    margin: 0; /* Remove default margin from paragraphs in footer */
}

.footer .quick-links a {
    color: #fff; /* Change the color to white */
    text-decoration-color: #fff; /* Change the underline color */
}

.footer .quick-links a:hover {
    color: #ccc; /* Change color on hover */
}

/* Making elements unselectable */
.navbar,
.header,
.footer,
.user-select-none {
    user-select: none;
}

/* Apply animation delay */
.aboutmoew {
    animation-delay: 1s;
}

.paragraphmeow {
    animation: zoomIn 0.40s ease forwards; /* Apply the zoomIn animation */
    animation-delay: 0.5s; /* Delay the animation by 5 seconds */
}

.paragraphmeoww {
    animation: zoomIn 0.40s ease forwards; /* Apply the zoomIn animation */
    animation-delay: 1s; /* Delay the animation by 3 seconds */
}
.paragraphmeowww {
    animation: zoomIn 0.40s ease forwards; /* Apply the zoomIn animation */
    animation-delay: 2s; /* Delay the animation by 3 seconds */
}

.buttonmeow {
    animation: zoombuttonIn 4s ease forwards; /* Apply the zoomIn animation */
    /* Delay the animation by 5 seconds */
    
}
.buttonnmeow {
    animation: zoombuttonIn 1s ease forwards; /* Apply the zoomIn animation */
    /* Delay the animation by 5 seconds */
}

.title-fade-in-1 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
    animation-delay: 2s;
}

.title-fade-in-2 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}

.title-fade-in-3 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}

.title-fade-in-4 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}

.title-fade-in-5 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}

.title-fade-in-6 {
    opacity: 0; /* Initially hide the titles */
    animation: fadeInFromTop 0.75s ease forwards; /* Apply the fadeInFromTop animation */
}