/* Importing the font */
@font-face {
    font-family: 'Copenhagen Grotesk Nova';
    src: url('fonts/copenhagen.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/copenhagen.woff') format('woff'); /* Legacy Browsers */
    font-weight: normal;
    font-style: normal;
}
.bigger-text {
    font-size: 1.5em; /* Adjust the font size as needed */
}
* {
    user-select: none;
}

/* Setting the background image */
body {
    margin: 0;
    font-family: 'Copenhagen Grotesk Nova', sans-serif;
    font-size: 80%;
    /*background-image: url('images/bg.png'); /* Replace 'bg.png' with your image path */ 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; /* Ensure relative positioning for absolute children */
}

/* Adding a semi-transparent layer */
/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to change opacity
    z-index: 1; Ensure the overlay appears above the background 
}*/

.bg-white, .bg-dark {
    min-height: 70vh; /* Adjust the minimum height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-bg-dark {
    background-color: #222222; /* Change the background color to the desired color */
    min-height: 70vh; /* Adjust the minimum height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Ensuring content appears above the overlay */
.container {
    position: relative;
    z-index: 2; /* Ensure content appears above the overlay */
}

/* Navbar styles */
.navbar {
    position: relative; /* Ensure navbar is above the overlay */
    z-index: 3; /* Ensure navbar appears above the overlay */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a bottom border to the navbar */
}

.navbar-brand img {
    max-height: 40px; /* Adjust the max height of the logo */
}

/* Header styles */
.header {
    text-align: center; /* Center-align header content */
}

.header h1 {
    font-size: 2.5em; /* Increase font size of the header */
    margin-bottom: 20px; /* Add some bottom margin to the header */
}

.header p {
    font-size: 1.5em; /* Increase font size of the paragraph */
}

/* Footer styles */
.footer {
    background-color: #333; /* Change background color of the footer */
    color: white; /* Change text color of the footer */
    padding: 20px; /* Add some padding to the footer */
    text-align: center; /* Center-align footer content */
}
.section-content p {
    margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
}
.footer p {
    margin: 0; /* Remove default margin from paragraphs in footer */
}

/* Making elements unselectable */
.navbar,
.header,
.footer,
.user-select-none {
    user-select: none;
}
